html, body{
    font-family: 'Heebo', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}
h1, p, h2, h3{
    margin: 0;
}
#post{
    background-color: #EDF7FA;
    padding: 32px 0;
    /* text-align: center; */
}
header nav{
    height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: end;
    padding-right: 60px;
}
header nav ul{
    margin: 0;
    display: flex;
    align-items: center;
    gap:33px;

}
header nav li{
    list-style: none;

}

header nav li a{
    text-decoration: none;
    font-weight: 500;
font-size: 20px;
line-height: 29px;
text-align: right;

color: #000000;
    
}
.main-section{
    background-color: #fff;
    /* padding-top: 158px;
    padding-bottom: 158px; */
    padding: 158px 0;
    
}
.main-section .hero-inner{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.main-section .hero-inner .col-left{
    max-width: 497px;

}
.main-section .hero-inner .col-left h1{
font-weight: 700;
font-size: 44px;
line-height: 60px;
color: #21243D;
}
.main-section .hero-inner .col-left p{
    margin-top: 40px;
    font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #21243D;
    }
    .main-section .hero-inner .col-left .action-button{
        margin-top: 38px;
        /* width: 208px;
        height: 47px; */
        padding: 10px 20px;
        background: #FAB85C;
        border-radius: 2px;
        color: white;
        /* line-height: 47px; */
        text-align: center;
        max-width: fit-content;
        font-weight: 500;
        font-size: 20px;
        line-height: 29px;
        color: #fff;
        }
.main-section .hero-inner .col-right{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: right;
}
.post-section-inner{
    max-width: 960px;
    margin: auto;
    
}

.post-section-inner .post-header h2{
    font-weight: 400;
    font-size: 22px;
    line-height: 60x;
    /* display: flex;
    align-items: flex-end; */
    color: #21243D;
}
.post-section-inner .post-header a{
    font-weight: 400;
    font-size: 16px;
    line-height: 24x;
    text-align: right;
    /* display: flex;
    align-items: flex-end; */
    color: #00A8CC;
    text-decoration: none;
}
.post-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.posts{
    display: flex;
    
    gap:20px;
}
.posts .post-item{
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(187,225,250,0.25);
    border-radius: 4px;
    padding: 24px;
}
.posts .post-item header h3{
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: #21243D;
    margin-bottom: 16px;
}
.posts .post-item .meta{
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #21243D;
    display: flex;
    gap:26px;
    align-items: center;
    margin-bottom: 20px;
}
.posts .post-item p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
}
.feature-section{
    background-color: #fff;
    padding: 32px 0;
}
.feature-section-inner
{
    max-width: 960px;
    margin: 0 auto;
}
.feature-section .feature-section-inner .feature-header h2{
    font-family: 'Heebo';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 60px;
color: #21243D;
margin-bottom: 22px;
}
.feature-section .feature-section-inner .fs-list .fs-item{
    display: flex;
    align-items: center; 
    gap:20px;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 16px;
    margin-bottom: 30px;
}
.fs-list .fs-item .fs-item-right h3{
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
    margin-bottom: 18px;
}
.fs-list .fs-item .fs-item-right .meta{
    display: flex;
    gap: 36px;
    align-items: center;
    margin-bottom: 17px;
}
.fs-item .meta .badge{
    width: 62px;
height: 25px;
background: #142850;
border-radius: 16px;
color: white;
font-weight: 900;
font-size: 18px;
text-align: center;
/* identical to box height, or 333% */


color: #FFFFFF;

}
.fs-item .meta .category{
    font-weight: 400;
font-size: 20px;
line-height: 29px;

/* Light */

color: #8695A4;
}
.fs-item-right .description{
    font-weight: 400;
font-size: 16px;
line-height: 24px;

/* Dark Color */

color: #21243D;
}
.bottom-section{
    display: flex;
    gap: 55px;
    background-color: #fff;
    justify-content: center;
    margin: 0 auto;
}
.paragraph{
    display: flex;
    background-color: #fff;
    justify-content: center;
    
    margin: 0 auto;
}
@media all and (max-width: 600px){
    .main-section .hero-inner{
        flex-direction: column-reverse;
    }
    .main-section .col-right{
        margin-bottom: 30px;
    }
    .main-section .col-left{
        text-align: center;
        margin: 0 20px;
    }
    .main-section .hero-inner .col-left .action-button{
        margin-left: auto;
        margin-right: auto;
    }
    #post .post-section-inner .post-header h2{
        text-align: center;
        margin-bottom: 12px;
    }
    #post .post-section-inner .post-header a{
        display: none;
    }
    #post .post-section-inner .posts{
        flex-direction: column;
    }
    .feature-section .feature-section-inner .feature-header{
        text-align: center;
    }
    .feature-section .feature-section-inner .fs-list .fs-item{
        flex-direction: column;
    }
    .feature-section .feature-section-inner .fs-list .fs-item img{
        width: 455px;
    }
}