html, body{
    font-family: 'Heebo', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
}
#post{
    background-color: #EDF7FA;
}
header nav{
    height: 50px;
    background-color: #fff;

}
header nav ul{
    margin: 0;

}
header nav li{
    list-style: none;

}

header nav li a{
    text-decoration: none;
    font-weight: 500;
font-size: 20px;
line-height: 29px;
text-align: right;

color: #000000;
    
}